<img id="pic" src="" alt="burger" />
<h1 id="header">Eat-Da-Burger!</h1>

<div class="row">
    <div class="col-md-6">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li id="burgerItems"> {{burger_name}} <button class="devouredBtn"> Devour It! </button></li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-md-6">
        <ul id="devouredList">
            {{#each burgers}}
            {{#if devoured}}
            <li id="devouredItems"> {{burger_name}} </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<h2 id="addBurger">Add a Burger</h2>

<div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burgerName" name="name">
</div>


<button class="addBurgerBtn" type="button">Submit</button>