body {
    background-color: #fc6;
}

#header {
    margin-top: 2%;
    color: #F30;
    text-align: center;
}

.form-group {
    margin-left: 38%;
}

.addBurgerBtn {
    margin-top: 1%;
    margin-left: 47%;
}

.devouredBtn {
    margin-left: 1%;
}

#burgerItems {
    margin-top: 1%;
    margin-left: 15%;
}

#devouredList {
    margin-left: 60%;
    position: absolute;
    top: 44%;
}

#addBurger {
    margin-left: 43%;
    margin-top: 15%;
}

#devouredItems {
    margin-top: 3%;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    height: 250px;
}
